<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container" style="margin: 0px auto; width: 50%; border:1px solid gray; border-radius: 3px">
        
        <div class="row" style="margin-top: 100px" id="pro">
            <table style="width: 50%; margin: 0px auto"
          <%  for(var i=0;i<items.length;i++){ %>
              <li><%= cart[i].title %></li>
              <li> ITEM to be added<%= cart[i].title %></li>
                <div class="col-lg-8 col-sm-7">
                        <li> cart[i].quantity</li>
                </div>
                
           <% } %>
    </div>
</body>
</html>